{{> header}}
<meta http-equiv="refresh" content="2;URL=/">
<form>
    <div class="card opacity col-12">
        <div class="card-body text-center">
            <h2>{{status}}</h2>
        </div>
    </div>
</form>

{{> footer}}